.navbar {
    height: 55px;
    background: #2c2b31;
    font-size: 30px;
    box-shadow: 3px 3px 4px rgba(0,0,0, 0.4);
    border-bottom: 2px solid #cc575d;

    ul {
        list-style: inside;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin-right: 30px;
    }
}

.a {
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
}

.giggle {
    color: #cc575d;
}
