.loadmore {
    width: 150px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    border: 1px solid #171717;
    display: inline-block;
    margin: 15px 50%;
    background: #222328;
    clear: both;
    cursor: pointer;
}
