.loadmore {
    width: 150px;
    line-height: 50px;
    text-align: center;
    height: 50px;
    border: 1px solid #333;
    display: inline-block;
    margin: 15px 50%;
    background: #111;
    clear: both;
    cursor: pointer;
}
