.loadmore {
    width: 150px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    border: 1px solid #171717;
    display: block;
    margin: 15px auto;
    background: #222328;
    clear: both;
    cursor: pointer;
}
